{{#if item.IsPinned}}
<div class="action pinned" data-id="{{item.RefID}}" data-isWC="{{item.IsWC}}" data-action="{{ActionData}}">
{{else}}
<div class="action" data-id="{{item.RefID}}" data-isWC="{{item.IsWC}}" data-action="{{ActionData}}">
{{/if}}

    <div class="header flexbox">
        <div class="avatar flexpull">{{{UserImageTag}}}</div>
        <div class="info flexpush">
            <a data-userid="{{item.CreatorID}}" data-ticketid="{{item.TicketID}}" data-name="{{item.CreatorName}}" class="TeamSupportBlue UserAnchor">{{item.CreatorName}}</a><br>
            <small class="text-muted">added a {{item.MessageType}} on {{FormatDateTime item.DateCreated}}</small><br />
            <small class="text-muted">{{TimeSpent}} <span id="watson-{{item.RefID}}">{{Watson}}</span></small><br />
        </div>
        <div class="flexpull">{{{Applause}}}</div>
    </div>

    <div class="specifics">
        <div class="details">{{{item.Message}}}</div>
    </div>
</div>
