<div class="checkbox">
    <input id="task-{{id}}" class="change-task-status" type="checkbox" data-taskid="{{id}}" {{taskComplete IsComplete}}/>
    <label for="task-{{id}}"><a href="#" class="tasklink" data-taskid="{{id}}">{{{value}}}</a></label>
</div>
