<div class="flexbox">
    <div class="flexcell" style="padding-right:5px;"><input id="task-{{id}}" class="change-task-status" type="checkbox" data-taskid="{{id}}" {{taskComplete IsComplete}}/></div>
    <div class="flex"><label for="task-{{id}}"><a href="#" class="tasklink" data-taskid="{{id}}">{{{value}}}</a></label></div>
</div>
