<div data-messageid="{{MessageID}}" class="timeline-wc-reply">

    <img class="user-avatar pull-left wc-avatar" src="../../../dc/{{OrganizationID}}/UserAvatar/{{UserID}}/120">

    <div>
        <a class="TeamSupportBlue">{{UserName}}</a> <small class="text-muted">  {{FormatDateTime LastModified}}  </small>

        <a data-liked="false" href="#" class="wc-reply-like-link">

            <span
            class="wc-reply-like-total">
          </span>

            <span>
              like
            </span>
        </a>

          <p>
            {{{Message}}}
          </p>

    </div>

</div>
